.container{
    display: flex;
    height: 200px;
    margin: 20px;
    flex-wrap:wrap;
    justify-content: space-around; 
}
.card{
    
    margin-top: 10px;
}
.img{
    height: 200px;
    width: 200px;

}
