h1{
    text-align: center;
    font-size: 60px;
    color: teal;
}

#calculator{
    width: 400px;
    border: 1px solid black;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#display{
    height: 80px;
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,80px);
    gap: 10px;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;   
}
#keys>div{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-style: bold;
    font-size: 20px;
    
}
#keys>div:hover{
    background-color: teal;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
.red{
    background-color: rgb(242, 48, 48);
    color: white;
}




